{% extends '../main.html' %}
{% load crispy_forms_tags %}
{% block main %}
<div class="container">
  <div class="row text-white">
    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form">
      <h1>Register</h1>
      <div class="px-2">
        <form class="justify-content-center" method="post">
          {% csrf_token %}
          {{ form.username|as_crispy_field }}
          {{ form.password1|as_crispy_field }}
          {{ form.password2|as_crispy_field }}
          <button type="submit" class="btn btn-primary">Registreer</button>
          <a role="button" class="btn btn-success" href="{% url 'login' %}">Login</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
