{% load static %}
{% load crispy_forms_tags %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="vh-100 vw-100">
<section id="cover" class="vh-100">
    <div id="cover-caption" class="vh-100">
        {% block main %}
        {% endblock %}
    </div>
</section>
</body>
</html>
<script>
width = window.screen.width * window.devicePixelRatio;
height = window.screen.height * window.devicePixelRatio;
document.getElementById('cover').style.background = "#222 url('https://unsplash.it/" + width + "/" + height + "/?randoms') center center no-repeat";
</script>
