{% extends 'project.html' %}
{% block notes %}
<h4>Project {{ project.id }}</h4>
        <form method="post" novalidate autofocus>
            {% csrf_token %}
            <table border="1">
                {{ NoteForm }}
            </table>
            <button type='submit'>Nieuwe notitie</button></br>
        </form>
    {% for note in notes %}
        <a href="{% url 'note_delete' note.id %}">X </a>
        {{ note.description }}
        <sub>{{ note.categorie }}</sub><br>
    {% endfor %}

{% endblock %}
